@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Shrikhand&display=swap");

:root {
  --background-dark: #353535;
  --background-grey: #eaeaea;
  --background-light-grey: #f7f7f7;
  --background-light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-light);
}

.fa-arrow-left.fa-solid {
  position: absolute;
  left: 5%;
  cursor: pointer;
  font-size: 20px;
}

header img {
  width: 162px;
  height: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.restaurant-image {
  position: relative;
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.restaurant-title {
  position: absolute;
  top: 20%;
  margin-top: 13rem;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  background-color: var(--background-light-grey) !important;
  -webkit-border-radius: 40px 40px 0px 0px;
  -moz-border-radius: 40px 40px 0px 0px;
  -ms-border-radius: 40px 40px 0px 0px;
  -o-border-radius: 40px 40px 0px 0px;
}

.restaurant-title h2 {
  display: inline-block;
  margin: 32px 17px 0 25px;
  padding-right: 5px;
  font-size: 28px;
  font-family: Shrikhand;
  font-style: italic;
  font-weight: 400;
}

.fa-heart.fa-regular {
  position: absolute;
  left: 80%;
  height: 21px;
  width: 22px;
  margin-top: 42px;
  overflow-y: hidden;
  font-size: 22px;
}

.fa-heart.fa-solid {
  position: absolute;
  left: 80%;
  height: 21px;
  width: 22px;
  border-radius: 0px;
  margin-top: 42px;
  cursor: pointer;
  font-size: 22px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  overflow-y: hidden;
  color: transparent;
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
}

.fa-heart.fa-solid:active {
  background-image: linear-gradient(
    193.33deg,
    #9356dc -11.44%,
    #ff79da 123.93%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition-duration: 0.8s;
}

.menu-container {
  width: 100%;
  height: 1330px;
  padding: 0 17px;
  background-color: var(--background-light-grey);
  overflow-y: hidden;
}

#menu-container-menu-3 {
  height: 1410px;
}

.menu-container .subtitle {
  position: relative;
  left: 2%;
  margin-top: 4rem;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}

.green-line {
  position: relative;
  left: 2%;
  width: 11%;
  margin-bottom: 12px;
  padding-top: 5px;
  border-bottom: 3px solid #99e2d0;
}

.menu-card {
  position: relative;
  width: 350px;
  height: 85px;
  margin: auto;
  margin-bottom: 12px;
  padding: 15px 15px 0 15px;
  cursor: pointer;
  background-color: var(--background-light);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: background-color 1s, transform 1s;
}

.menu-card h3 {
  padding-bottom: 5px;
}

.description-card {
  display: flex;
  justify-content: space-between;
}

.progressive-reappearance-1 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.progressive-reappearance-2 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

.progressive-reappearance-3 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 9s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #99e2d0;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
}

.menu-card:hover::after {
  width: calc(20% + 15px);
  right: -15px;
}

.money {
  font-weight: 700;
}

.menu-card .money {
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.menu-card:hover .money {
  transform: translateX(-70px);
  -webkit-transform: translateX(-70px);
  -moz-transform: translateX(-70px);
  -ms-transform: translateX(-70px);
  -o-transform: translateX(-70px);
}

.menu-card .money:hover {
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  transition: width 1s;
}

.text-ellipsis:hover {
  width: 200px;
}

.text-ellipsis-2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  width: 220px;
}

.fa-circle-check.fa-solid {
  position: absolute;
  right: 0;
  color: transparent;
  transition: right 0.5s, top 0.5s, font-size 0.5s, color 0.5s;
}

.menu-card:hover .fa-circle-check.fa-solid {
  right: 6%;
  top: 38%;
  z-index: 2;
  font-size: 25px;
  color: #fff;
}

.commander-button {
  margin: 45px 0;
  padding: 1rem 0;
}

.commander-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 50px;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition-duration: 0.5s;
}

.commander-text:hover {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

footer {
  padding-bottom: 22px;
  color: #ffffff;
  background-color: var(--background-dark);
}

footer h2 {
  margin: 22px 0 16px 30px;
  font-size: 18px;
  font-family: Shrikhand;
  font-style: italic;
  font-weight: 400;
}

.fa-utensils.fa-solid {
  margin-right: 1rem;
}

.fa-handshake-angle.fa-solid {
  margin-right: 10px;
}

footer li {
  margin-left: 30px;
  margin-bottom: 7px;
  cursor: pointer;
}
